/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

/*Layout*/
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Montserrat";
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.67);
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-style: oblique;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.33);
    width: 100%;
    padding: 15px;
    backdrop-filter: blur(10px);
    transition: .2s;
}

h1 em{
    color: rgb(242, 148, 0);
    font-weight: 800;
}

header,
header:before{
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(assets/background.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

header * {
    font-weight: normal;
    margin: 0;
    padding: 1em 0;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: black;
    line-height: 30px;
    padding: 40px;
    color: white;
}

.intro{
    color: white;
    margin: 25px;
}

p{
    color: rgba(255, 255, 255, 0.67);
}

p em{
    color: rgb(242, 148, 0);
    font-style: oblique;
    font-weight: bold;
}

.names{
    padding-left: 25px;
}

h2{
    font-weight: bold;
    color: rgb(242, 148, 0);
    margin-left: 25px;
}

.tile{
    margin: 25px;
    align-items: center;
}

.tiled{
    height: 200px;
    border-radius: 5px;
}

.horizontal{
    display:flex;
    align-items: center;
}

.bar-engine {
    background-color:rgb(242, 148, 0);
    width: 25%;
    padding: 2px 10px;
    border-radius: 5px;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.7em;
}

.bar-chassis {
    background-color:rgb(242, 148, 0);
    width: 30%;
    padding: 2px 10px;
    border-radius: 5px;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.7em;
}

.bar-electronics {
    background-color:rgb(242, 148, 0);
    width: 10%;
    padding: 2px 10px;
    border-radius: 5px;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.7em;
}

.bar-misc {
    background-color:rgb(242, 148, 0);
    width: 80%;
    padding: 2px 10px;
    border-radius: 5px;
    align-items: center;
    margin: 10px 0px;
    font-size: 0.7em;
}

.logo{
    height: 50px;
    padding-right: 25px;
}


.fa {
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;
    margin-right: 15px;
  }

.fa:hover {
    opacity: 0.7;
    transform: scale(0.8);
}

.fa-instagram {
    background: #9c133c;
    color: white;
}

.ribbon{
    position: sticky;
    margin-left: 25px;
    padding: 1px 20px;
    bottom: 25px;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.67);
    font-weight: 900;
    background-color:rgb(242, 148, 0);
    width: fit-content;
    border-radius: 10px;
}